
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #00000013;
    padding-top: 15px;
    padding-bottom:20px;
    display: flex;


}

.Logo{
    position: fixed;
    left: 20px;
    width: 100px;
    height: auto;
}

.Avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}